@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Finger+Paint&family=Edu+SA+Beginner:wght@400;700&family=Amaranth:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --toastify-color-light: #f8f8f8;
  --toastify-color-dark: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  scrollbar-color: #34d399 #e0e7ff;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  background-color: #e0e7ff;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  height: 8px;
  background-color: #e0e7ff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #34d399;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.Toastify__toast-container {
  max-width: 450px;
  width: auto;
}

input[type='range'].slider-vertical {
  writing-mode: bt-lr; /* IE */
  writing-mode: vertical-lr; /* Standard syntax */
  appearance: slider-vertical;
  -webkit-appearance: slider-vertical; /* WebKit */
}

/* Zoom in animation */
@keyframes zoomInOut {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  16% {
    /* 0.5s out of 3s */
    transform: scale(1);
    opacity: 1;
  }
  83% {
    /* 2.5s out of 3s, keep the scale at 1 and opacity at 1 */
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.zoomInOut {
  animation-name: zoomInOut;
  animation-duration: 3s; /* 3s in total, 0.5s to zoom in, 2s to stay, 0.5s to zoom out */
  animation-fill-mode: both;
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: 91%;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border-left: 1px solid rgb(52, 211, 153);
  border-bottom: 1px solid rgb(52, 211, 153);
  background-color: #ffedd5;
}

.tooltip-top::before {
  content: '';
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border-right: 1px solid rgb(52, 211, 153);
  border-top: 1px solid rgb(52, 211, 153);
  background-color: #ffedd5;
}

.tooltip-help-rules::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 95%;
  transform: translateX(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border-left: 1px solid rgb(52, 211, 153);
  border-bottom: 1px solid rgb(52, 211, 153);
  background-color: #ffedd5;
}

.tooltip-help-howto::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 95%;
  transform: translateX(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border-left: 1px solid rgb(52, 211, 153);
  border-bottom: 1px solid rgb(52, 211, 153);
  background-color: #fed7aa;
}

.stroked-text {
  -webkit-text-stroke: 2px black;
  text-shadow: 14px 14px 35px #00000076, -14px -14px 35px #00000076;
}

.MuiChipsInput-Chip {
  background-color: #5eead4 !important;
  border: 1px solid #115e59 !important;
}

.MuiChipsInput-Chip-Editing {
  background-color: #2fb9a5 !important;
  color: '#000' !important;
}
